.imageStyle{
    height: 150px;
    width: 150px;
}

.myLinkStyle{
    margin-top: 80px;
}

#myButtonStyle{
    background-color: darkred;
    color: white;
}

#myHeaderStyle{
    color: purple;
}

#myNameStyle{
    font-weight: bolder;
}

